.App {
  display: grid;
  grid-template-columns: 200px auto;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);;
}

.header {
  text-align: center;
  border: 2px solid white;
  grid-column-start: 2;
}

.form {
  border: 2px solid yellow;
  text-align: center;
}

.body {
  width: 50%;
  height:200px;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0.4em;
  padding-left: 0.4em
}

.login {
  text-align: right;
}

.nav {
  grid-column-start: 1;
  list-style-type: none;
  text-align: center;
  font-size: 2em;
  padding-left: 30px;
  padding-right: 30px;
}

.eachArticle {
  border: 2px solid rgb(255, 255, 255);
  text-decoration: underline;
  grid-column-start: auto;
  text-align: center;
}

.votes {
  text-align: left;
}

.articleHeader {
  border: 2px solid rgb(255, 255, 255);
  text-align: center;
}

.articleDescription {
  font-size: 2em;
}

.articleBody {
  border: 2px solid rgb(255, 255, 255);
  line-height: 30px;
  font-size: 1.5em;
}

.eachComment {
  border: 2px solid lightslategray
}

.input {
  border: 2px solid rgb(136, 136, 136);
  outline: none;
  width: 30%;
  background-color: rgb(207, 207, 207);
  resize: none;
}

.topicsList {
  list-style: none;
  
}